{% extends "base.html" %}
{% load static %}
{% block title %} Story1{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
{% endblock %}
{% block content %}
<main id="main">
<p>
<div class="container">
    <div class="center">
    <div class="row">
        <div class="col-sm-3">
            <a href="https://m.facebook.com/suwandi.kurniawan.904?ref=bookmarks/" class="fa fa-facebook"></a>
            <a href="https://m.facebook.com/suwandi.kurniawan.904?ref=bookmarks/">Facebook</a>
        </div>
        <div class="col-sm-3">
            <a href="https://www.linkedin.com/in/suwandi-kurniawan-b05827150/" class="fa fa-linkedin"></a>
            <a href="https://www.linkedin.com/in/suwandi-kurniawan-b05827150">Linkedin</a>
        </div>
        <div class="col-sm-3">
            <a href="https://www.instagram.com/suwandi_k89/" class="fa fa-instagram"></a>
            <a href="https://www.instagram.com/suwandi_k89/">Instagram</a>
        </div>
    </div>
    </div>
</div>
</p>
<p>
<div class="container">
    <div class="jumbotron", style="background-image: linear-gradient(#f36c36, #b2f3a29c); text-align: center">
        <h1>Suwandi's Profile</h1>
        <p>Hi welcome to my website guys</p> 
    </div>
    <div class="center">
        <img src = "{% static 'Suwandi_pict.JPG' %}"  style="max-width:25%; height:auto ;">
    </div>
    <h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: bold">Riwayat Pendidikan</h2>
    <div class="row" style="background-color: blanchedalmond">
        <div class="col-sm-4">
            <h4 style="font-weight: bold">SD Santa Cicilia Sunter</h4>
            <p style="font-style: italic">(2007-2013)</p>
            <p>SD Santa Cicilia terletak di Sunter,Jakarta Utara. 
               Awalnya saat duduk di kelas 5 saya bukanlah yang terbaik, namun ketika kelas 
               6 saya belajar banyak karena sadar UN sudah dekat. Akhirnya
               semua berbuah manis saya memperoleh juara 1 paralel</p>
        </div>
        <div class="col-sm-4">
            <h4 style="font-weight: bold">SMP Santa Cicilia Sunter</h4>
            <p style="font-style: italic">(2013-2016)</p>
            <p>SMP Santa Cicilia masih 1 tempat dengan SD Santa Cicilia.
               Di Bangku SMP saya sering mengikuti lomba-lomba seperti:
               lomba bahasa Inggris, Matematika, IPA. Namun diantara semuanya
               yang paling berkesan adalah lomba Matematika karena saya suka Matematika.
            </p>
        </div>
        <div class="col-sm-4">
            <h4 style="font-weight: bold">SMA Negeri 2 Jakarta</h4>        
            <p style="font-style: italic">(2016-2019)</p>
            <p>SMAN 2 Jakarta terletak di Jl. Gajah Mada No.175
               ,Jakarta Barat. Saat SMA saya pernah mengikuti OSN
               Matematika hingga tahap Provinsi setelah melalui beberapa
               rangkaian pelatihan yang menambah banyak ilmu.
            </p>
        </div>
    </div>
    <div class="center">
        <h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: bold">Deskripsi Singkat</h2>
        <p>" Saya adalah anak tunggal yang lahir di Jakarta. Sudah sejak SMP 
        saya suka bermain gitar dan mata pelajaran Matematika ,
        maka itu terkadang di saat bosan saya bermain gitar atau sekadar
        iseng mencoba soal teka-teki matematika. Selain itu terkadang dalam
        mengisi kekosongan, saya bermain badminton bersama teman saya.
        Harapan saya adalah cepat lulus dari Fasilkom UI dengan predikat <i>cum laude</i>. 
        Saya juga berharap perlahan dapat membangun link yang besar dengan orang-orang hebat."
        </p> 
    </div>
    <p>
    <div class="table-responsive">   
    <a id="about">  
        <h4>About me</h4>
    </a>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Nama</th>
            <th>NPM</th>
            <th>Angkatan</th>
            <th>Tempat Kuliah</th>
            <th>Hobi</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Hi</td>
            <td>Suwandi Kurniawan</td>
            <td>1906299175</td>
            <td>MAUNG 2019</td>
            <td>Fasilkom UI</td>
            <td>Badminton, Main gitar, Nonton </td>
        </tr>
        </tbody>
    </table>    
    </div>
    <div class="center">
        <a id="contact">
            <h4>You can contact me at</h4>
        </a>
        <p>
        <h4>0819-7751-7988</h4>
        </p>
        <a href="https://www.youtube.com/channel/UC6MyCZGwQusU8qUSYRQCb4g/" class="fa fa-youtube"></a>
        <a href="https://www.youtube.com/channel/UC6MyCZGwQusU8qUSYRQCb4g/">Also visit my Youtube Channel</a>
    </div>
    </p>
</div>
</p>
</main>
{% endblock %}