{% extends "base2.html" %}
{% load static %}
{% block title %} Contact {% endblock %}
{% block content %}
  <main id="main">
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Contact Me</h2>
          <ol>
            <li><a href="{% url 'story3-home' %}">Home</a></li>
            <li>Contact</li>
          </ol>
        </div>

      </div>
    </section>
    
    <section class="portfolio">
        <div class="container">
            <div class="row">
                <div id="box2">
                    <p style="text-align: center;font-size: large; margin-bottom: 5px;margin-top: 10px;"><b>Suwandi</b></p>
                </div>
                <img src="{% static 'Suwandi1.jpg' %}" style="border-radius: 50%; max-width: 120px; text-align: center" >
                <div id="box2">
                    <p style="text-align: center;font-size: large; margin-bottom: 5px;margin-top: 10px;"><b>Kurniawan</b></p>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
    <div class="row">
    <div class="icon-bar">
      <p><b>Contact me</b></p>
      <p>
          <a href="https://m.facebook.com/suwandi.kurniawan.904?ref=bookmarks/" class="facebook"><i class="fa fa-facebook"></i></a>  
          <a href="https://www.instagram.com/suwandi_k89/" class="instagram"><i class="fa fa-instagram"></i></a> 
          <a href="https://api.whatsapp.com/send?phone=8197757988&text=Hi,%20Saya%20Suwandi%20Kurniawan,%20senang%20dapat%20berkenalan%20dengan%20kalian..." class="whatsapp"><i class="fa fa-whatsapp"></i></a>
      </p>
      <p>
          <a href="https://drive.google.com/open?id=1E2vl5WJl3gEzOE2OM22ovRtK599Nf8c_" class="google"><i class="fa fa-google"></i></a> 
          <a href="https://www.linkedin.com/in/suwandi-kurniawan-b05827150/" class="linkedin"><i class="fa fa-linkedin"></i></a>
          <a href="https://www.youtube.com/channel/UC6MyCZGwQusU8qUSYRQCb4g/" class="youtube"><i class="fa fa-youtube"></i></a> 
      </p>
    </div>   
    </div>
  </div>
  </main>
{% endblock %}