{% extends "base2.html" %}
{% load static %}
{% block title %} Profile {% endblock %}
{% block content %}
  <main id="main">
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>My Profile</h2>
          <ol>
            <li><a href="{% url 'story3-home' %}">Home</a></li>
            <li>Profile</li>
          </ol>
        </div>

      </div>
    </section>

    <section class="service-details">
      <div class="container">

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'Suwandi1.jpg' %}" style="border-radius: 50%" alt="...">
              </div>
              <div class="card-body" style="background: rgba(233, 241, 109, 0.932)">
                <h5 class="card-title"><a href="#">Profilku</a></h5>
                <p class="card-text">Nama : Suwandi Kurniawan</p>
                <p class="card-text">Angkatan : Maung 2019</p>
                <p class="card-text">Kampus : Fasilkom UI</p>
                <p class="card-text">Hobi : Main gitar, Badminton, Nonton</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'Sekolah.jpg' %}" alt="...">
              </div>
              <div class="card-body" style="background: rgba(250, 185, 185, 0.863)">
                <h5 class="card-title"><a href="#">Riwayat Pendidikan</a></h5>
                <p class="card-text"><ul><li>2016-2019 </li>SMAN 2 Jakarta</ul> </p>
                <p class="card-text"><ul><li>2013-2016 </li>SMP Santa Cicilia Sunter</ul></p>
                <p class="card-text"><ul><li>2007-2013 </li>SD Santa Cicilia Sunter</ul></p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <div class="icon-bar">
      <p style="text-align: center"><b>Contact me</b></p>
      <p>
        <a href="https://m.facebook.com/suwandi.kurniawan.904?ref=bookmarks/" class="facebook"><i class="fa fa-facebook"></i></a>  
        <a href="https://www.instagram.com/suwandi_k89/" class="instagram"><i class="fa fa-instagram"></i></a> 
        <a href="https://api.whatsapp.com/send?phone=8197757988&text=Hi,%20Saya%20Suwandi%20Kurniawan,%20senang%20dapat%20berkenalan%20dengan%20kalian..." class="whatsapp"><i class="fa fa-whatsapp"></i></a>
      </p>
      <p>
        <a href="https://drive.google.com/open?id=1E2vl5WJl3gEzOE2OM22ovRtK599Nf8c_" class="google"><i class="fa fa-google"></i></a> 
        <a href="https://www.linkedin.com/in/suwandi-kurniawan-b05827150/" class="linkedin"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.youtube.com/channel/UC6MyCZGwQusU8qUSYRQCb4g/" class="youtube"><i class="fa fa-youtube"></i></a> 
      </p>
       
    </div>
  </main>
{% endblock %}