{% extends "base2.html" %}
{% load static %}
{% block title %} Project {% endblock %}
{% block content %}
  <main id="main">
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>My Projects</h2>
          <ol>
            <li><a href="{% url 'story3-home' %}">Home</a></li>
            <li>Projects</li>
          </ol>
        </div>

      </div>
    </section>

    <section class="portfolio">
      <div class="container">
        <div class="row">
        <img src="{% static 'Suwandi1.jpg' %}" style="border-radius: 50%; max-width: 100px;">
        <div id="box1">
          <p style="text-align: center;font-size: large; margin-bottom: 5px;margin-top: 10px;"><b>Sistem Informasi</b></p>
          <p style="text-align: center">Fasilkom UI</p>
        </div>
      </div>
      <p>
        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Music</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>
      </p>
        <div class="row portfolio-container" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">

          <div class="col-lg-4 col-md-6 filter-app">
              <div class="portfolio-item">
                <img src="{% static 'portfolio/Suwandi Kurniawan.png' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h3><a href="{% static 'portfolio/Suwandi Kurniawan.png' %}" data-gall="portfolioGallery" class="venobox" title="Music 1">Music 1</a></h3>
                  <a href="{% static 'portfolio/Suwandi Kurniawan.png' %}" data-gall="portfolioGallery" class="venobox" title="Music 1"><i class="icofont-plus"></i></a>
                </div>
              </div>
            </div>
            
          <div class="col-lg-4 col-md-6 filter-web">
            <div class="portfolio-item">
              <img src="{% static 'portfolio/web-3.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h3><a href="{% static 'portfolio/web-3.png' %}" data-gall="portfolioGallery" class="venobox" title="Web 3">Web 3</a></h3>
                <a href="{% static 'portfolio/web-3.png' %}" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="icofont-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 filter-web">
            <div class="portfolio-item">
              <img src="{% static 'portfolio/web-2.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h3><a href="{% static 'portfolio/web-2.png' %}" data-gall="portfolioGallery" class="venobox" title="Web 2">Web 2</a></h3>
                <a href="{% static 'portfolio/web-2.png' %}" data-gall="portfolioGallery" class="venobox" title="Web 2"><i class="icofont-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 filter-web">
            <div class="portfolio-item">
              <img src="{% static 'portfolio/web-1.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h3><a href="{% static 'portfolio/web-1.png' %}" data-gall="portfolioGallery" class="venobox" title="Web 1"></a>Web 1</a></h3>
                <a href="{% static 'portfolio/web-1.png' %}" data-gall="portfolioGallery" class="venobox" title="Web 1"><i class="icofont-plus"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
    
    <div class="icon-bar">
      <p style="text-align: center"><b>Contact me</b></p>
      <p>
        <a href="https://m.facebook.com/suwandi.kurniawan.904?ref=bookmarks/" class="facebook"><i class="fa fa-facebook"></i></a>  
        <a href="https://www.instagram.com/suwandi_k89/" class="instagram"><i class="fa fa-instagram"></i></a> 
        <a href="https://api.whatsapp.com/send?phone=8197757988&text=Hi,%20Saya%20Suwandi%20Kurniawan,%20senang%20dapat%20berkenalan%20dengan%20kalian..." class="whatsapp"><i class="fa fa-whatsapp"></i></a>
      </p>
      <p>
        <a href="https://drive.google.com/open?id=1E2vl5WJl3gEzOE2OM22ovRtK599Nf8c_" class="google"><i class="fa fa-google"></i></a> 
        <a href="https://www.linkedin.com/in/suwandi-kurniawan-b05827150/" class="linkedin"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.youtube.com/channel/UC6MyCZGwQusU8qUSYRQCb4g/" class="youtube"><i class="fa fa-youtube"></i></a> 
      </p>
       
    </div>

  </main>
{% endblock %}